HELP.md
/target/
history_log.txt


### VS Code ###
.vscode/

### chromedriver and browser ###
google-chrome-stable_current_amd64.deb
microsoft-edge-stable_123.0.2420.97-1_amd64.deb
LATEST_RELEASE
LICENSE.chromedriver
driver
